

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0;
    padding: 0;
}

nav a {
    margin: 
}

a {
    background-color: grey;
    width 100vw;
    display: block;
    margin: 1em 0;
    height: 50vh;
    padding-top: 40vh;
    padding-right: 5vh;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align:right;
    
}

a:hover {
    color: red;
}

h1 a {
    background-image: url(logoadammarkets4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}



h2 a {
    background-image: url(kaart.jpg);
    background-size: cover;
    background-color: none;
    color: black;
    font-size: 30px;
}


div {
    margin: auto;
}
